#answer1, #answer2 , #answer3, #answer4, #answer5, #answer6, #answer7{
  display:none;
}

.container {
  width: 500px;
}

.jumbotron {
  height:250px;
  width: 400px;
  text-align: center;
  margin: 20px;
  font-family: 'Lobster', cursive;
  border: 2px solid black;

}

body {
  background: linear-gradient(to right, #ef3b36, #ffffff);
}

#circular{
    border-radius: 90%
}

#profile {
  text-align:center;
  font-weight: bold;
}

img {
  margin-bottom: 20px;
  width:350px;
  height:350px;
  border: 1px solid black;
  border-radius: 50%;
}
